/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom style */
* {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* genral */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */

.background-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./media/banner.jpg");
  width: 100%;
  height: 700px;
  background-size: cover;
}
.top-nav {
  padding-top: 32px;
}
.flex a i {
  background-color: rgb(255 255 255);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px;
  margin-left: 12px;
  color: black;
}
.header-box {
  background-color: rgb(255 255 255);
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgb(138, 138, 138);
}
.brand-name {
  margin-right: 320px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  color: rgb(234 82 63);
}
.nav a {
  margin-right: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: rgb(68 68 68);
}
.nav .active {
  color: rgb(234 82 63);
}
.heading {
  text-align: center;
  margin-top: 200px;
  text-transform: uppercase;
}
.heading h1 {
  font-size: 36px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.heading p {
  font-size: 20px;
  color: rgb(255 255 255);
  text-transform: uppercase;
}
.hr1 {
  width: 360px;
}
.home-page-btn {
  margin-top: 24px;
  background-color: rgb(238, 71, 49);
  width: 120px;
  height: 40px;
  border-radius: 4px;
  border: none;
}
.home-page-btn a {
  color: rgb(255 255 255);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}
.parent-circle {
  margin: 24px 0;
}
.small-circle {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 8px;
}
.active-circle {
  background-color: black;
}

/* main*/

/* services section */

.second-heading {
  text-align: center;
  text-transform: uppercase;
  margin-top: 88px;
}
h2 {
  font-size: 30px;
  font-weight: 500;
  color: rgb(77, 76, 76);
}
.hr2 {
  width: 200px;
}
.second-heading p {
  font-size: 16px;
  color: rgb(107, 104, 104);
  margin-bottom: 36px;
}
.box {
  width: 220px;
  height: 250px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  background-color: rgb(92 189 157);
}
.box2 {
  background-color: rgb(230 127 48);
}
.box3 {
  background-color: rgb(56 152 219);
}
.box4 {
  background-color: rgb(104 205 115);
}

/* portfolio section */

.hr3 {
  width: 230px;
}
.col {
  flex: 0 1 22%;
  margin: 16px;
}
.portfolio img {
  width: 100%;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
